{% set navClasses = mode == 'mobile'
    ? 'flex flex-col space-y-4 text-lg'
    : 'hidden md:flex space-x-6 text-lg'
%}

<nav class="{{ navClasses }}">
    <a href="{{ path('app_homepage') }}" class="hover:text-accent-dark">Accueil</a>
    <a href="{{ path('app_oeuvre_index') }}" class="hover:text-accent-dark">Œuvres</a>
    <a href="{{ path('app_admin_article_index') }}" class="hover:text-accent-dark">Articles</a>
    <a href="{{ path('page_about') }}" class="hover:text-accent-dark">À propos</a>
    <a href="#" class="hover:text-accent-dark">Contact</a>
</nav>