{% set navClasses = mode == 'mobile'
    ? 'flex flex-col space-y-4 text-lg'
    : 'hidden md:flex space-x-6 text-lg'
%}

<nav class="{{ navClasses }}">
    {% if app.user %}
        <a href="{{ path('user_dashboard') }}"
           class="hover:text-accent-dark hover:underline font-semibold relative text-accent before:content-['☙'] before:mr-1 after:content-['❧']" >
            Mon grimoire
        </a>
    {% endif %}
    <a href="{{ path('app_homepage') }}" class="hover:underline">Accueil</a>
    <a href="{{ path('app_oeuvre_index') }}" class="hover:underline">Œuvres</a>
    <a href="{{ path('app_articles_index') }}" class="hover:underline">Articles</a>
    <a href="{{ path('page_about') }}" class="hover:underline">À propos</a>
    {% if app.user %}
        <a href="{{ path('app_contact') }}" class="hover:underline">Contact</a>
    {% endif %}
</nav>