{% extends 'user/base_user.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-8 text-center">🔐 Modifier mon mot de passe</h1>

    <div class="max-w-md mx-auto bg-[#2d2d2d] p-6 rounded-xl shadow text-white">
        {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <div class="text-center mt-4">
            <button type="submit" class="bg-accent hover:bg-amber-800 text-white px-5 py-2 rounded shadow text-sm font-semibold">
                Mettre à jour
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
